@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&family=Source+Sans+3:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif, 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font-Roboto 사용시 */
.font-Roboto {
  font-family: "Roboto Slab";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 메인 에니메이션 효과 */
@keyframes slideOut {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideOut {
  animation: slideOut 2s forwards;
  animation-iteration-count:infinite;
}